<%- include('../partials/header'); %>
    
    <main class="main" id="404Main">
        <div class="container">
            <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fgifdb.com%2Foh-snap&psig=AOvVaw1diWdllaTiWQ7DzBsEFl0u&ust=1713992026728000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCLDk1oGc2YUDFQAAAAAdAAAAABAE" alt="404 error gif" class="img-fluid d-block mx-auto">
            <p class="text-center">this page does not exist...sorry</p> 
        </div>
    </main>
    
<%- include('../partials/footer'); %>