<%- include('../partials/header'); %>
    
    <main class="main" id="404Main">
        <div class="container">
            <img src="https://media1.giphy.com/media/XyLKdaVbQ3xg6o0sKy/200w.gif?cid=6c09b9520p8dv99c4o6pd0l32765p8sixclmicucunxhzgrs&ep=v1_gifs_search&rid=200w.gif&ct=g" alt="404 error gif" class="img-fluid d-block mx-auto">
            <p class="text-center">this page does not exist...sorry</p> 
        </div>
    </main>
    
<%- include('../partials/footer'); %>