<%- include('../partials/header'); %>
    
    <main class="main" id="confirmMain">
        <div class="container">
            <h2>Form submitted successfully!</h2>
            <img src="https://media2.giphy.com/media/0E5zvkDsBo2kyfx9DT/200w.gif?cid=6c09b9520tko3zwwr95fmlsnt9y2qjnzmgp1apklk1wuioox&ep=v1_gifs_search&rid=200w.gif&ct=g" alt="404 error gif" class="img-fluid d-block mx-auto">
        </div>
    </main>
    
<%- include('../partials/footer'); %>